{% extends "base/base.html" %}

{% load static %}
{% block title %}Sécurité et connexion | {% endblock %}

{% block css %} 
{% endblock css %}


{% block toolbar %}
    <!--begin::Page title-->
    <div data-kt-place="true" data-kt-place-mode="prepend" data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
        
        {% comment %} <!--begin::Title-->
        <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">Sécurité et connexion</h1>
        <!--end::Title-->
        <!--begin::Separator-->
        <span class="h-20px border-gray-200 border-start mx-4"></span>
        <!--end::Separator--> {% endcomment %}
        <!--begin::Breadcrumb-->
        <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">

            {% comment %} <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a href="{% url 'base:dashboard' %}" class="text-muted text-hover-primary">Accueil</a>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-200 w-5px h-2px"></span>
            </li>
            <!--end::Item--> {% endcomment %}
            <!--begin::Item-->
            <li class="breadcrumb-item text-dark">Sécurité et connexion</li>
            <!--end::Item-->
        </ul>
        <!--end::Breadcrumb-->	
        <!--end::Page title-->
                        
    </div>
        {% comment %} <div class="d-flex align-items-center py-1">
            <!--begin::Button-->
            <a href="{% url 'base:order_add' compte.pk %}" class="btn btn-sm btn-primary">Nouvelle commande</a>
            <!--end::Button-->
        </div> {% endcomment %}
{% endblock %}


{% block content %}

    <div class="card">
        <!--begin::Card header-->
        <div class="card-header border-0" >
            <!--begin::Card title-->
            <div class="card-title m-0">
                <h3 class="fw-bolder m-0">Changer le mot de passe</h3>
            </div>
            <!--end::Card title-->
        </div>
        <!--begin::Card header-->
        <!--begin::Content-->
        <div id="kt_account_profile_details">
            <!--begin::Form-->
            <form id="kt_signin_change_password" class="form"  autocomplete="off" method="post" novalidate="novalidate" >
                {% csrf_token %}
                <!--begin::Card body-->
                <div class="card-body border-top p-9">
                    {% if messages %}
                        <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                                {% for message in messages %}
                                    <div {% if message.tags %} class="d-flex align-items-center bg-light-{{ message.tags }} rounded p-5 mb-7"{% endif %}  role="alert" style="width: 100%;"><b>{{ message }}</b></div>
                                {% endfor %}
                        </div>
                    {% endif %}
                    {% comment %} Cas des erreurs sur le formulaire {% endcomment %}
                    {% if form.non_field_errors %}
                                <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                                    <div class="d-flex align-items-center bg-light-danger rounded p-5 mb-7" role="alert" style="width: 100%;"><b>{{ form.non_field_errors }}</b></div>
                                </div>
                    {% endif %}


                    <!--begin::Password-->
                    <div class="d-flex flex-wrap align-items-center mb-5">
                        <!--begin::Edit-->
                        <div id="kt_signin_password_edit" class="flex-row-fluid">
                                <div class="row mb-1">
                                    <div class="col-lg-4">
                                        <div class="fv-row mb-0">
                                            <label for="id_old_password" class="form-label fs-6 fw-bolder mb-3">Mot de passe actuel</label>
                                            <input type="password" class="form-control form-control-lg form-control-solid" name="old_password" id="id_old_password" />
                                            <div class="fv-plugins-message-container invalid-feedback">
                                                {{ form.old_password.errors }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="fv-row mb-0">
                                            <label for="id_new_password1" class="form-label fs-6 fw-bolder mb-3">Nouveau mot de passe</label>
                                            <input type="password" class="form-control form-control-lg form-control-solid" name="new_password1" id="id_new_password1" />
                                            <div class="fv-plugins-message-container invalid-feedback">
                                                {{ form.new_password1.errors }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="fv-row mb-0">
                                            <label for="id_new_password2" class="form-label fs-6 fw-bolder mb-3">Confirmer le mot de passe</label>
                                            <input type="password" class="form-control form-control-lg form-control-solid" name="new_password2" id="id_new_password2" />
                                            <div class="fv-plugins-message-container invalid-feedback">
                                                {{ form.new_password2.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-text mb-5">
                                    <ul>
                                        <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
                                        <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                                        <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                                        <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
                                    </ul>
                                </div>
                        </div>
                        <!--end::Edit-->
                    </div>
                    <!--end::Password-->

                </div>
                <!--end::Card body-->
                <!--begin::Actions-->
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <a href="{% url 'base:dashboard' %}" class="btn btn-white btn-active-light-primary me-2">Annuler</a>
                    <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Enregistrer les modifications</button>
                </div>
                <!--end::Actions-->
            </form>
            <!--end::Form-->
        </div>
        <!--end::Content-->
    </div>

{% endblock content %}



{% block javascript %}
{% comment %} <script>
</script> {% endcomment %}
{% endblock javascript%}