{% extends "base/base.html" %}

{% load static %}
{% block title %}Dernières commandes | {% endblock %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'assets/plugins/custom/bootstrap-table-1.19.1/bootstrap-table.min.css' %}">
{% endblock css %}


{% block toolbar %}
    <!--begin::Page title-->
    <div data-kt-place="true" data-kt-place-mode="prepend" data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
        
        {% comment %} <!--begin::Title-->
        <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">Dernières commandes</h1>
        <!--end::Title-->
        <!--begin::Separator-->
        <span class="h-20px border-gray-200 border-start mx-4"></span>
        <!--end::Separator--> {% endcomment %}
        <!--begin::Breadcrumb-->
        <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">

            {% comment %} <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a href="{% url 'base:dashboard' %}" class="text-muted text-hover-primary">Accueil</a>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-200 w-5px h-2px"></span>
            </li>
            <!--end::Item--> {% endcomment %}
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a href="{% url 'base:order_list' compte.pk %}" class="text-muted text-hover-primary">{{compte.nom}}</a>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-200 w-5px h-2px"></span>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item text-dark">Liste des commandes</li>
            <!--end::Item-->
        </ul>
        <!--end::Breadcrumb-->	
        <!--end::Page title-->
                        
    </div>
    <div class="d-flex align-items-center py-1">
        <!--begin::Button-->
        {% if compte.can_add_commande %}
            <a href="{% url 'base:order_add' compte.pk %}" class="btn btn-sm btn-primary">Nouvelle commande</a>
        {% endif %}
        <!--end::Button-->
    </div>
{% endblock %}


{% block content %}
    {% if messages %}
        <div class="card mb-5 mb-xl-10">
            <div class="card-body pt-9 pb-0">
                <!--begin::Details-->
                <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                        {% for message in messages %}
                            <div {% if message.tags %} class="d-flex align-items-center bg-light-{{ message.tags }} rounded p-5 mb-7"{% endif %}  role="alert" style="width: 100%;"><b>{{ message }}</b></div>
                        {% endfor %}
                </div>
                <!--end::Details-->
            </div>
        </div>
    {% endif %}
    <div class="card">
        <!--begin::Card header-->
        <div class="card-header ">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label fw-bolder fs-3 mb-1">Liste des commandes</span>
                {% comment %} <span class="text-muted mt-1 fw-bold fs-7">20 dernières</span> {% endcomment %}
            </h3>
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-5">
            <!--begin::Table-->
            <div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="table-responsive">
                    <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer  table-striped "
                        data-header-style="headerStyle"
                         id="order_table">

                    </table>
                </div>
                {% comment %} <div class="row">
                    <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"></div>
                    <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                        <div class="dataTables_paginate paging_simple_numbers" id="kt_table_users_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="kt_table_users_previous"><a href="#" aria-controls="kt_table_users" data-dt-idx="0" tabindex="0" class="page-link"><i class="previous"></i></a></li>
                                <li class="paginate_button page-item active"><a href="#" aria-controls="kt_table_users" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="kt_table_users" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="kt_table_users" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                <li class="paginate_button page-item next" id="kt_table_users_next"><a href="#" aria-controls="kt_table_users" data-dt-idx="4" tabindex="0" class="page-link"><i class="next"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
            <!--end::Table-->
        </div>
        <!--end::Card body-->
    </div>

{% endblock content %}



{% block javascript %}

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'assets/plugins/custom/bootstrap-table-1.19.1/bootstrap-table.min.js' %}"></script>
<!-- Latest compiled and minified Locales -->
<script src="{% static 'assets/plugins/custom/bootstrap-table-1.19.1/bootstrap-table-fr-FR.min.js' %}"></script>
<script>
    order_data = {{ data | safe}};
    $('#order_table').bootstrapTable({
        pagination: false,
        search: false,
        columns: [{
            field: 'external_id',
            title: 'Numéro'
        },{
            field: 'date',
            title: 'Date'
        }, {
            field: 'expected_date',
            title: 'Date souhaitée'
        }, 
        {% comment %} {
            field: 'date_livraison',
            title: 'Date de livraison'
        },  {% endcomment %}
         {
            field: 'reference_client',
            title: 'Référence'
        }, {
            field: 'get_etat_badge_sc',
            align : "right",
            title: 'Etat'
        }, {
            field: 'action',
            align : "right",
            title: 'Détail'
        }],
        data: order_data
    });

function headerStyle(column) {
    return {
        date: {
            css: {
                "font-weight": 'bold',
                "text-transform" : "uppercase"
            }
        },
        expected_date : {
            css: {
                "font-weight": 'bold',
                "text-transform" : "uppercase"
            }
        },
        get_etat_badge_sc : {
            css: {
                "font-weight": 'bold',
                "text-transform" : "uppercase"
            }
        },
        external_id : {
            css: {
                "font-weight": 'bold',
                "text-transform" : "uppercase"
            }
        },
        reference_client : {
            css: {
                "font-weight": 'bold',
                "text-transform" : "uppercase"
            }
        },
        action : {
            css: {
                "font-weight": 'bold',
                "text-transform" : "uppercase",
                "text-align" : "right"
            }
        }
    }[column.field]
}
</script>
{% endblock javascript%}